body {
    font-family: Arial, sans-serif;
    background-color: #f6d9e3;
    margin: 0;
    padding: 0;
}

main{
    max-width: 1500px;
    margin: auto;
}

header {
    background: url(pozadina2.jpg) repeat;
    color: rgb(137, 62, 86);
    padding: 2rem;
    text-align: center;
}

nav {
    background-color: #df81a1;
    display: flex;
    justify-content: center;
    position: relative; /* важно за ::after да се позиционира во однос на nav */

}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #bd6581;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(137, 100, 107, 0.5);
}
/*
 nav::after{
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    background: url(cvet1.jpg) repeat-x;
    background-size: contain;
    position: absolute;
    margin-top: 50px;
 } */

main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #df81a1;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 {
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #733146;
}

h3 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #733146;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #733146;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

li {
    background: url(pozadina3.jpg) no-repeat center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    margin: 40px auto;
    padding: 40px;
    max-width: 1000px;
}

li:hover{
    transform: scale(1.01);
}
li div{
    margin-left: 25px;
}
.hp {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 2rem;
}

.hp-text {
    flex: 1;
    min-width: 200px;
    max-width: 1000px;
    text-align: left;
}

.hp-h1{
    font-size:80px;
}

.hp-p{
    font-size: 30px;
}

.hp-img {
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    flex-shrink: 0;
}

.bio {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.bio img {
    max-width: 280px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.bio div {
    flex: 1;
    max-width: 700px;
}


.hobi-sec {
    max-width: 1000px;
    margin: 0 auto 30px auto;
    text-align: center;
    background-color: #f9f7f1;
    /* background: url(pozadina2.jpg) repeat; */
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



.gallery-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  width: 100%;
}

.gallery img {
  flex: 1 1 260px;
  max-width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}


.veshtini{
    width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f8e4ea;
    border-radius: 25px;
    box-shadow: 0 20px 30px rgba(123, 63, 77, 0.7);

}
.gallery-v {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
}

.gallery-v img {
  flex: 1 1 280px;
  max-width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.gallery-v img:hover {
    transform: scale(1.05);
}
.videos {
    /* display: flex; */
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.videos video {
    width: 300px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background: url(pozadina3.jpg)  no-repeat;
    background-size: cover;
    box-shadow: 0 20px 30px rgba(123, 63, 77, 0.7);

}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #733146;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #733146;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.contact-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #bd6581;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #a94d69;
}
